body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    /* Set snap scrolling on the Y-axis */
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.fullscreen {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    /* Ensure each section aligns to the start of the viewport */
    scroll-snap-align: start;
    /* Ensures content doesn't get cut off in Firefox */
    flex: none;
}

/* Backgrounds */
.fullscreen:nth-child(odd) {
    background-color: #8b6a53;
}
.fullscreen:nth-child(even) {
    background-color: #ddd;
}
.body_test {
    background-color: #8b6a53;
}
/* */


.content {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 60px auto;
  }
  
  .layer {
    position: absolute;
  }
  
  .background {
      transform: translateX(0);
      animation: background-shift 4s linear 1 forwards;
  }
  
  .train {
      transform: translateX(-440px);
      animation: train-shift 4s linear 1 forwards;
  }
  
  .foreground {
      transform: translateX(-210px);
       animation: foreground-shift 4s linear 1 forwards;
  }
  
  @keyframes background-shift {
    to {
      transform: translateX(-80px);
    }
  }
  
  @keyframes train-shift {
    to {
      transform: translateX(-140px);
    }
  }
  
  @keyframes foreground-shift {
    to {
      transform: translateX(-400px);
    }
  }

  #background {
    animation: background-shift 8s linear infinite forwards;
  }
  
  #train {
    animation: train-shift 4s linear infinite forwards;
  }
  
  #foreground {
    animation: foreground-shift 2s linear infinite forwards;
  }