body, html {
  background-color: #000000;
}

.content {
  position: relative;
}

.background, .train {
  position: absolute;
  top: 0;
  left: 0;
}

.train {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0px, 0);
  animation: train-reset 4s ease-in-out 1 forwards;
  animation-play-state: paused;
}

.background {
  transform: translateX(0);
  animation: background-shift 4s ease-in-out 1 forwards;
}

@keyframes background-shift {
  to {
    transform: translateX(-0px);
  }
}

@keyframes train-reset {
  to {
    transform: translate(0, 0);
  }
}

@keyframes train-hover {
  to {
    transform: translate(-360px, -315px);
  }
}

@keyframes train-unhover {
  to {
    transform: translate(0, 0); /* Return to the starting position smoothly */
    animation-duration: 4s;
  }
}

#background {
  animation: background-shift 8s linear infinite forwards;
}

.train-animation:hover {
  animation-play-state: running;
  animation-name: train-hover;
}

.train-animation:not(:hover) {
  animation-play-state: running;
  animation-name: train-unhover;
}
