body, html {
  background-color: #000000;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative; 
  width: 800px;
  height: 800px;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 4s linear; /* Smooth transition for both layers */
}

.train {
  z-index: 1;
  transform: translate(0px, 0);
}

.background {
  transform: translateX(0);
}

.content:hover .train {
  transform: translate(-360px, -315px);
}

.content:hover .background {
  transform: translateX(-00px);
}
